.section-footer {
    background-color: #2C3E50;
    color: #fff;
}

.section-footer > .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 800px;
    width: 100%;
    padding: 60px 20px;
}

.section-footer > .container h4 {
    font-size: 30px;
    text-transform: uppercase;
}

.section-footer > .container .content {
    display: flex;
    margin: 20px 0;
}


@media (max-width: 599px) {
    .section-footer {
        background-color: blue;
    }

    .section-footer > .container .content {
        flex-direction: column;
    }
}